$bc_mobile_nav_color_A:#ffffff; // Nav Background
$bc_mobile_nav_color_B:#282828;	// Menu Text
$bc_mobile_nav_color_C:#F38927;	// Focus Item Color
$bc_mobile_nav_color_D:#B5B5B5; // Border Color
$bc_mobile_nav_color_E:#898989; // Menu Dropdown Icon
$bc_mobile_nav_color_F:#ffffff; // Search Icon 
$bc_mobile_nav_color_G:#363636; // Search Icon Background
$bc_mobile_nav_color_H:#C2C2C2; // Search placeholder

.bc_nav_container_mobile{
	display:none !important;

	@media (hover: none), only screen and (max-width: 991px) {
		
		display: block !important;
		position: absolute;
		top:0;
		background: $bc_mobile_nav_color_A; //Nav bg

		.level-3-background{
			position: absolute;
			height: 100%;
			width: 100%;
			left:100%; 
			background: $bc_mobile_nav_color_A;
		}

		#navbarSupportedContent{
			height: 100vh;
			max-height: 100vh;
			overflow-x: hidden;

			&.navbar-collapse.collapsing {
			    -webkit-transition: none!important;
				transition: none!important;
				display: none!important;

		    }

		    .navbar-toggler{
				display: block;
				opacity: 0;
				-webkit-transition: opacity 1s;
				transition: opacity 1s;
				&:focus, &:hover{
					background: none;
					outline-color: $bc_mobile_nav_color_A;
					svg{
						background: none;
						outline: none !important;
					}
				}
			}
			
			&.show .navbar-toggler{
				opacity: 1;
			}
		   	.nav-header{
		   		.nav-search{
		   			input, input:focus{
		   				border: 1px solid $bc_mobile_nav_color_D;
		   				border-radius: 0px;
		   				box-shadow:none; 
		   				-webkit-box-shadow:none;
		   				&::placeholder{
		   					color:$bc_mobile_nav_color_H;
		   				}
		   			}
		   			button{
		   				background: $bc_mobile_nav_color_G;
			   			svg{
			   				color:$bc_mobile_nav_color_F;
			   			}
		   			}
		   		}
		   	}

			.nav-header-level-3{
				position:absolute;
				top:0;
				left: 120%;
				display: block;
				button{
					white-space: nowrap;
					color:$bc_mobile_nav_color_B;
					svg{
						color:$bc_mobile_nav_color_B;
					}
				}
			}

			ul{	
				border:none;
				padding: 0px 0px;
				margin: 0px 0px;
				li{
					padding: 1em 0px 0em 0px;
					a{
						padding: 0px 0px;
						.nav-link-title{
							font-weight: 400;
							color: $bc_mobile_nav_color_B; //Link Text
						}
						.bc-nav-dropdown-icon{
							svg{	//Link dropdown icon
								color: $bc_mobile_nav_color_E;
							}
							width: 45px;
							height: 30px;
						}
						&:after{
							display:none !important;
						}
						&:focus, &:active{
							background:none !important;
							.nav-link-title{
								background: none;
								border:none;
								color: $bc_mobile_nav_color_C
							}
						}
					}
					&.dropdown-active{
						& > a{
							.nav-link-title{
								color: $bc_mobile_nav_color_C !important;
							}
							.bc-nav-dropdown-icon{
								svg{
									color:$bc_mobile_nav_color_C !important;
								}
							}
						}
					}
					&:before{
						display: none !important;
					}
				}
				ul{	
					& > li{
						padding-left: 1em;
						svg{ display: none;}
					}
					ul{
						display: none !important;
					}
				}
			}

			& > ul.navbar-nav{
				& > li{					//Top Level Item
					padding: 0.5em 0px 0.5em 0px;	
					border-top: 1px solid $bc_mobile_nav_color_D;
				}
			}
		}

		&.show-level-3{
			#navbarSupportedContent{
				overflow-x: visible;
				
				li.level-3-active {
					left: 120%;
					padding-left: 0px !important;
					& > a, li{
						border-bottom: 1px solid $bc_mobile_nav_color_D;
						padding: 0.5em 0px 0.5em 0px !important;
					}
					ul{
						a{
							display: block !important;
						}
						display: block !important;
					}
				}
			}

		}

		// overriding navbar-expand-lg
		nav.navbar-expand-lg{
			.m-lg-auto, &.m-lg-auto{
				margin: 0px 0px !important;
			}
			.float-lg-none{
				float: right !important;
			}
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between; 
			position: relative;
			display: flex;
			align-items: center;
			.navbar-nav{
				flex-direction: column;
			}
			.dropdown-menu {
				position: static !important;
			}
			#navbarSupportedContent.navbar-collapse{
			
				flex-basis: 100%;
				flex-grow: 1;
				display: block !important;
				&.collapse:not(.show) {
					display: none !important;
				}
				& > ul {
					width: 100%
				}
			}
		}
	}
}