$primary_color:#000000 !default;
$secondary_color:#3D3B3B !default;
$tertiary_color:#949CA1 !default;
$quaternary_color:#E4E5E6 !default;
$true_white:#ffffff !default;
$true_black:#000000 !default;
$stars_color:#E8B835 !default;
$error_color:#D60707 !default;
$contact_form_border:#E0E0E0 !default;
$tab_background_border:#F2F2F3 !default;
$callbtn_color:#F4F4F4 !default;
$financing_bg_color:#FBFAFA !default;


