$default_font_family:'Fira Sans', sans-serif !default;
$alternate_font_family_1:'Open Sans', sans-serif !default;
$alternate_font_family_2:'Source Sans Pro', sans-serif !default;
$alternate_font_family_3:'Barlow', sans-serif;;


$h1_font_family : $default_font_family !default;
$h1_font_size : 48px !default;
$h1_font_weight : 700 !default;
$h1_text_transform : capitalize !default;
$h1_line_height : 53px !default;
$h1_letter_spacing : 0px !default;
$h1_color :$secondary_color !default;
$h1_font_style :  normal !default;
$h1_word_spacing :  0px !default;
$h1_text_decoration :  none !default;
$h1_mobile_font_size : 32px !default;
$h1_mobile_line_height : 37px !default;
$h1_mobile_letter_spacing :  normal !default;
$h1_mobile_word_spacing :  0px !default;

$h2_font_family : $default_font_family !default;
$h2_font_size : 36px !default;
$h2_font_weight : 400 !default;
$h2_text_transform : capitalize !default;
$h2_line_height : 41px !default;
$h2_letter_spacing :  0px !default;
$h2_color :$tertiary_color !default;
$h2_font_style :  normal !default;
$h2_word_spacing :  0px !default;
$h2_text_decoration :  none !default;
$h2_mobile_font_size : 26px !default;
$h2_mobile_line_height : 31px !default;
$h2_mobile_letter_spacing :  0px !default;
$h2_mobile_word_spacing :  0px !default;

$h3_font_family : $default_font_family !default;
$h3_font_size : 28px !default;
$h3_font_weight : 600 !default;
$h3_text_transform : capitalize !default;
$h3_line_height : 33px !default;
$h3_letter_spacing :  0px !default;
$h3_color :$secondary_color !default;
$h3_font_style :  normal !default;
$h3_word_spacing :  0px !default;
$h3_text_decoration :  none !default;
$h3_mobile_font_size : 26px !default;
$h3_mobile_font_weight : 700 !default;
$h3_mobile_line_height : 31px !default;
$h3_mobile_letter_spacing :  0px !default;
$h3_mobile_word_spacing :  0px !default;

$h4_font_family : $default_font_family !default;
$h4_font_size : 36px !default;
$h4_font_weight : 700 !default;
$h4_text_transform : capitalize !default;
$h4_line_height : 41px !default;
$h4_letter_spacing :  0px !default;
$h4_color :$secondary_color !default;
$h4_font_style :  normal !default;
$h4_word_spacing :  0px !default;
$h4_text_decoration :  none !default;
$h4_mobile_font_size : 26px !default;
$h4_mobile_line_height : 31px !default;
$h4_mobile_letter_spacing :  0px !default;
$h4_mobile_word_spacing :  0px !default;

$h5_font_family : $default_font_family !default;
$h5_font_size : 32px !default;
$h5_font_weight : 400 !default;
$h5_text_transform : capitalize !default;
$h5_line_height : 37px !default;
$h5_letter_spacing :  0px !default;
$h5_color :$secondary_color !default;
$h5_font_style :  normal !default;
$h5_word_spacing :  0px !default;
$h5_text_decoration :  none !default;
$h5_mobile_font_size : 22px !default;
$h5_mobile_line_height : 27px !default;
$h5_mobile_letter_spacing :  0px !default;
$h5_mobile_word_spacing :  0px !default;

$h6_font_family : $default_font_family !default;
$h6_font_size : 22px !default;
$h6_font_weight : 700 !default;
$h6_text_transform : capitalize !default;
$h6_line_height : 27px !default;
$h6_letter_spacing :  0px !default;
$h6_color :$secondary_color !default;
$h6_font_style :  normal !default;
$h6_word_spacing :  0px !default;
$h6_text_decoration :  none !default;
$h6_mobile_font_size : 22px !default;
$h6_mobile_line_height : 27px !default;
$h6_mobile_letter_spacing :  0px !default;
$h6_mobile_word_spacing :  0px !default;

$h7_font_family : $default_font_family !default;
$h7_font_size : 20px !default;
$h7_font_weight : 400 !default;
$h7_text_transform : uppercase !default;
$h7_line_height : 25px !default;
$h7_letter_spacing :  0px !default;
$h7_color :$secondary_color !default;
$h7_font_style :  normal !default;
$h7_word_spacing :  0px !default;
$h7_text_decoration :  none !default;
$h7_mobile_font_size : 20px !default;
$h7_mobile_line_height : 25px !default;
$h7_mobile_font_weight : 400 !default;
$h7_mobile_letter_spacing :  0px !default;
$h7_mobile_word_spacing :  0px !default;

$h8_font_family : $default_font_family !default;
$h8_font_size : 16px !default;
$h8_font_weight : 600 !default;
$h8_text_transform : inherit !default;
$h8_line_height : 28px !default;
$h8_letter_spacing :  0px !default;
$h8_color :$secondary_color !default;
$h8_font_style :  normal !default;
$h8_word_spacing :  0px !default;
$h8_text_decoration :  none !default;
$h8_mobile_font_size : 16px !default;
$h8_mobile_font_weight : 600 !default;
$h8_mobile_line_height : 21px !default;
$h8_mobile_letter_spacing :  0px !default;
$h8_mobile_word_spacing :  0px !default;

$a_font_family : $default_font_family !default;
$a_font_size : 16px !default;
$a_font_weight : 400 !default;
$a_text_transform : inherit !default;
$a_line_height : 30px !default;
$a_letter_spacing :  0px !default;
$a_text_decoration :  none !default;
$a_color :$secondary_color !default;
$a_font_style :  normal !default;
$a_word_spacing :  0px !default;
$a_mobile_font_size : 48px !default;
$a_mobile_font_weight : 700 !default;
$a_mobile_line_height : 53px !default;
$a_mobile_letter_spacing :  0px !default;
$a_mobile_word_spacing :  0px !default;
$a_hover_font_size : 16px !default;
$a_hover_color : $secondary_color !default;
$a_hover_font_weight : 400 !default;
$a_hover_line_height : 30px !default;
$a_hover_text_decoration :  none !default;
$a_hover_font_style :  normal !default;
$a_hover_word_spacing :  0px !default;
$a_hover_letter_spacing :  0px !default;
$a_hover_text_transform : inherit !default;
$a_hover_mobile_font_size : 16px !default;
$a_hover_mobile_line_height : 30px !default;
$a_hover_mobile_word_spacing :  0px !default;
$a_hover_mobile_letter_spacing :  0px !default;

$li_font_family : $default_font_family !default;
$li_font_size : 16px !default;
$li_font_weight : 400 !default;
$li_text_transform : inherit !default;
$li_line_height : 30px !default;
$li_letter_spacing :  normal !default;
$li_color :$secondary_color !default;
$li_font_style :  normal !default;
$li_word_spacing :  0px !default;
$li_text_decoration :  none !default;
$li_mobile_font_size : 48px !default;
$li_mobile_font_weight : 700 !default;
$li_mobile_line_height : 53px !default;
$li_mobile_letter_spacing :  normal !default;
$li_mobile_word_spacing :  0px !default;

$strong_font_family : $default_font_family !default;
$strong_font_size : 16px !default;
$strong_font_weight : 400 !default;
$strong_text_transform : inherit !default;
$strong_line_height : 30px !default;
$strong_letter_spacing :  normal !default;
$strong_color :$secondary_color !default;
$strong_font_style :  normal !default;
$strong_word_spacing :  0px !default;
$strong_text_decoration :  none !default;
$strong_mobile_font_size : 48px !default;
$strong_mobile_font_weight : 700 !default;
$strong_mobile_line_height : 53px !default;
$strong_mobile_letter_spacing :  normal !default;
$strong_mobile_word_spacing :  0px !default;

$em_font_family : $default_font_family !default;
$em_font_size : 48px !default;
$em_font_weight : 700 !default;
$em_text_transform : capitalize !default;
$em_line_height : 53px !default;
$em_letter_spacing :  normal !default;
$em_color :$secondary_color !default;
$em_font_style :  normal !default;
$em_word_spacing :  0px !default;
$em_text_decoration :  none !default;
$em_mobile_font_size : 48px !default;
$em_mobile_font_weight : 700 !default;
$em_mobile_line_height : 53px !default;
$em_mobile_letter_spacing :  normal !default;
$em_mobile_word_spacing :  0px !default;

$default_font_family : $default_font_family !default;
$default_font_size : 48px !default;
$default_font_weight : 700 !default;
$default_text_transform : capitalize !default;
$default_line_height : 53px !default;
$default_letter_spacing :  normal !default;
$default_color :$secondary_color !default;
$default_font_style :  normal !default;
$default_word_spacing :  0px !default;
$default_text_decoration :  none !default;
$default_mobile_font_size : 48px !default;
$default_mobile_font_weight : 700 !default;
$default_mobile_line_height : 53px !default;
$default_mobile_letter_spacing :  normal !default;
$default_mobile_word_spacing :  0px !default;

$p_font_family : $alternate_font_family_1 !default;
$p_font_size : 16px !default;
$p_font_weight : 400 !default;
$p_text_transform : inherit !default;
$p_line_height : 30px !default;
$p_letter_spacing :  normal !default;
$p_font_style :  normal !default;
$p_word_spacing :  0px !default;
$p_text_decoration :  none !default;
$p_color :$secondary_color !default;
$p_mobile_font_size : 16px !default;
$p_mobile_font_weight : 400 !default;
$p_mobile_line_height : 30px !default;
$p_mobile_letter_spacing :  normal !default;
$p_mobile_word_spacing :  0px !default;

$button_primary_font_family : $alternate_font_family_1 !default;
$button_primary_font_size : 18px !default;
$button_primary_font_weight : 600 !default;
$button_primary_text_transform : uppercase !default;
$button_primary_line_height : 23px !default;
$button_primary_letter_spacing :  0px !default;
$button_primary_text_decoration :  none !default;
$button_primary_background_color :$primary_color !default;
$button_primary_color :$true_white !default;
$button_primary_border_radius:0px !default;
$button_primary_mobile_font_size : 18px !default;
$button_primary_mobile_font_weight : 600 !default;
$button_primary_mobile_line_height : 23px !default;
$button_primary_mobile_letter_spacing : 0px !default;
$button_primary_mobile_word_spacing : 1px !default;
$button_primary_hover_font_size : 18px !default;
$button_primary_hover_font_weight : 600 !default;
$button_primary_hover_color : $true_white !default;
$button_primary_hover_background_color : $secondary_color !default;
$button_primary_hover_border_radius:0px !default;
$button_primary_font_style:	Normal !default;
$button_primary_word_spacing:	1px !default; 

$button_secondary_font_family : $alternate_font_family_1 !default;
$button_secondary_font_size : 18px !default;
$button_secondary_font_weight : 600 !default;
$button_secondary_text_transform : uppercase !default;
$button_secondary_line_height : 23px !default;
$button_secondary_letter_spacing :  normal !default;
$button_secondary_text_decoration :  none !default;
$button_secondary_background_color :$true_white !default;
$button_secondary_color :$secondary_color !default;
$button_secondary_border_radius:0px !default;
$button_secondary_mobile_font_size : 18px !default;
$button_secondary_mobile_font_weight : 600 !default;
$button_secondary_mobile_line_height : 23px !default;
$button_secondary_hover_color : $true_white !default;
$button_secondary_hover_background_color : $quaternary_color !default;
$button_secondary_hover_border_radius:0px !default;
$button_secondary_font_style:	Normal !default;
$button_secondary_word_spacing:	1px !default;
$button_secondary_mobile_letter_spacing :  normal !default;
$button_secondary_mobile_word_spacing:	1px !default;



$button_primary_alt_font_family : $button_primary_font_family !default;
$button_primary_alt_font_size : $button_primary_font_size !default;
$button_primary_alt_font_weight : $button_primary_font_weight !default;
$button_primary_alt_text_transform : $button_primary_text_transform !default;
$button_primary_alt_line_height : $button_primary_line_height !default;
$button_primary_alt_letter_spacing :  $button_primary_letter_spacing !default;
$button_primary_alt_text_decoration :  $button_primary_text_decoration !default;
$button_primary_alt_background_color :$button_primary_background_color !default;
$button_primary_alt_color :$button_primary_color !default;
$button_primary_alt_border_radius:$button_primary_border_radius !default;
$button_primary_alt_mobile_font_size : $button_primary_mobile_font_size !default;
$button_primary_alt_mobile_font_weight : $button_primary_mobile_font_weight !default;
$button_primary_alt_mobile_line_height : $button_primary_mobile_line_height !default;
$button_primary_alt_mobile_letter_spacing : $button_primary_mobile_letter_spacing !default;
$button_primary_alt_mobile_word_spacing : $button_primary_mobile_word_spacing !default;
$button_primary_alt_hover_color : $button_primary_hover_color !default;
$button_primary_alt_hover_background_color : $button_primary_hover_background_color !default;
$button_primary_alt_hover_border_radius:$button_primary_border_radius !default;
$button_primary_alt_font_style:	$button_primary_font_style;
$button_primary_alt_word_spacing:	$button_primary_word_spacing;

$button_secondary_alt_font_family : $button_secondary_font_family !default;
$button_secondary_alt_font_size : $button_secondary_font_size !default;
$button_secondary_alt_font_weight : $button_secondary_font_weight !default;
$button_secondary_alt_text_transform : $button_secondary_text_transform !default;
$button_secondary_alt_line_height : $button_secondary_line_height !default;
$button_secondary_alt_letter_spacing :  $button_secondary_letter_spacing !default;
$button_secondary_alt_text_decoration :  $button_secondary_text_decoration !default;
$button_secondary_alt_background_color :$button_secondary_background_color !default;
$button_secondary_alt_color :$button_secondary_color !default;
$button_secondary_alt_border_radius:$button_secondary_border_radius !default;
$button_secondary_alt_mobile_font_size : $button_secondary_mobile_font_size !default;
$button_secondary_alt_mobile_font_weight : $button_secondary_mobile_font_weight !default;
$button_secondary_alt_mobile_line_height : $button_secondary_mobile_line_height !default;
$button_secondary_alt_mobile_letter_spacing : $button_secondary_mobile_letter_spacing !default;
$button_secondary_alt_mobile_word_spacing : $button_secondary_mobile_word_spacing !default;
$button_secondary_alt_hover_color : $button_secondary_hover_color !default;
$button_secondary_alt_hover_background_color : $button_secondary_hover_background_color !default;
$button_secondary_alt_hover_border_radius:$button_secondary_border_radius !default;
$button_secondary_alt_font_style:	$button_secondary_font_style;
$button_secondary_alt_word_spacing:	$button_secondary_word_spacing;

$callbtn_bg_background_color:#f4f4f4 !default;



$hero_banner_form_background: #fff !default;


$service_block_hover_text_color:$h7_color!default;
$service_block_hover_icon_color:$h7_color!default;

$announcement_bar_font_family:	$default_font_family !default;
$announcement_bar_font_size:	15px !default;
$announcement_bar_font_weight:	400 !default;
$announcement_bar_text_transform:	Uppercase !default;
$announcement_bar_line_height:	20px !default;
$announcement_bar_letter_spacing:	0px !default;
$announcement_bar_text_color:	#FFFFFF !default;
$announcement_bar_text_hover:	#B0E5FC !default;
$announcement_bar_font_style:	Normal !default;
$announcement_bar_text_decoration:	none !default;
$announcement_bar_word_spacing:	1px !default;
$announcement_bar_mobile_font_size:	15px !default;
$announcement_bar_mobile_line_height:	20px !default;
$announcement_bar_mobile_letter_spacing:	0px !default;
$announcement_bar_mobile_word_spacing:	1px !default;

$call_today_font_family:$default_font_family !default;
$call_today_font_size:	24px !default;
$call_today_font_weight:	500 !default;
$call_today_text_transform:	Uppercase !default;
$call_today_line_height:	29px !default;
$call_today_letter_spacing:	0px !default;
$call_today_text_color:	#000000 !default;
$call_today_font_style:	Normal !default;
$call_today_text_decoration:	none !default;
$call_today_word_spacing:	1px !default;
$call_today_mobile_font_size:	24px !default;
$call_today_mobile_line_height:	29px !default;
$call_today_mobile_letter_spacing:	0px !default;
$call_today_mobile_word_spacing:	1px !default;

$phone_number_font_family:	$default_font_family !default;
$phone_number_font_size:	24px !default;
$phone_number_font_weight:	500 !default;
$phone_number_text_transform:	none !default;
$phone_number_line_height:	29px !default;
$phone_number_letter_spacing:	1px !default;
$phone_number_text_color:	#000000 !default;
$phone_number_hover:	#38A79D !default;
$phone_number_font_style:	Normal !default;
$phone_number_text_decoration:	none !default;
$phone_number_word_spacing:	1px !default;
$phone_number_mobile_font_size:	24px !default;
$phone_number_mobile_line_height:	29px !default;
$phone_number_mobile_letter_spacing:	1px !default;
$phone_number_mobile_word_spacing:	1px !default;

$navigation_font_family:$default_font_family !default;
$navigation_font_size:	16px !default;
$navigation_font_weight	:400 !default;
$navigation_text_transform:	Uppercase !default;
$navigation_line_height	:21px !default;
$navigation_letter_spacing:	Default !default;
$navigation_color:	#000000 !default;
$navigation_hover :	#38A79D !default;
$navigation_top_nav_background: #fff !default;
$navigation_top_nav_color: #000000 !default;
$navigation_top_nav_hover_background: #fff !default;
$navigation_top_nav_hover_color: #38A79D !default;
$navigation_font_style:	Normal !default;
$navigation_text_decoration: none !default;
$navigation_word_spacing:	1px !default;

$navigation_sub_nav_background: #fff !default;
$navigation_sub_nav_color: #000000 !default;
$navigation_sub_nav_hover_background: #fff !default;
$navigation_sub_nav_hover_color: #38A79D !default;

$mobile_navigation_font_family:	$default_font_family !default;
$mobile_navigation_font_size:16px !default;
$mobile_navigation_font_weight:	400 !default;
$mobile_navigation_text_transform:	Uppercase !default;
$mobile_navigation_line_height:	21px !default;
$mobile_navigation_letter_spacing:	Default !default;
$mobile_navigation_color:	#000000 !default;
$mobile_navigation_font_style:	Normal !default;
$mobile_navigation_text_decoration:	none !default;
$mobile_navigation_word_spacing:	1px !default;


$footer_links_font_family:	$default_font_family !default;
$footer_links_font_size:	14px !default;
$footer_links_font_weight:	400 !default;
$footer_links_line_height:	28px !default;
$footer_links_letter_spacing:	Default !default;
$footer_links_color:	#000000 !default;
$footer_links_hover:	#38A79D !default;
$footer_links_text_transform:	Default !default;
$footer_links_font_style:	Normal !default;
$footer_links_text_decoration:	none !default;
$footer_links_word_spacing:	1px !default;
$footer_links_mobile_line_height:	26px !default;
$footer_links_mobile_font_size:	24px !default;
$footer_links_mobile_letter_spacing:	0px !default;
$footer_links_mobile_word_spacing:	1px !default;



$footer_phone_number_font_family:	$default_font_family !default;
$footer_phone_number_font_size:	24px !default;
$footer_phone_number_font_weight:	600 !default;
$footer_phone_number_line_height:	26px !default;
$footer_phone_number_letter_spacing:	Default !default;
$footer_phone_number_color:	#000000 !default;
$footer_phone_number_hover:	#38A79D !default;
$footer_phone_number_text_transform:	Default !default;
$footer_phone_number_font_style:	Normal !default;
$footer_phone_number_text_decoration:	none !default;
$footer_phone_number_word_spacing:	1px !default;
$footer_phone_number_mobile_line_height:	26px !default;
$footer_phone_number_mobile_font_size:	24px !default;
$footer_phone_number_mobile_letter_spacing:	Default !default;
$footer_phone_number_mobile_word_spacing:	1px !default;

$social_media_icons_color:	#38A79D!default;
$social_media_icons_hover:	#000000!default;

$copyright_hover:	#38A79D!default;

$mobile_popup_form_input_text_color:#000000 !default;
$mobile_popup_form_border_color:#000000 !default;
$mobile_cta_popup_form_background:#3D3B3B !default;
$mobile_cta_popup_input_text_color:	#000000 !default;
$mobile_cta_popup_input_background_color:#3D3B3B !default;
$mobile_cta_popup_input_border_color:#000000 !default;
$mobile_cta_popup_font_family:	$default_font_family !default;
$mobile_cta_popup_font_size:	224px !default;
$mobile_cta_popup_font_weight:	600 !default;
$mobile_cta_popup_line_height:	226px !default;
$mobile_cta_popup_letter_spacing:	Default !default;
$mobile_cta_popup_word_spacing:	1px !default;
$mobile_cta_popup_font_style:	Normal !default;
$mobile_cta_popup_text_transform:	Default !default;
$mobile_cta_popup_text_decoration:	none !default;

$hero_banner_and_request_service_text_color:	#000000!default;
$hero_banner_and_request_service_border_color:#000000!default;

$hero_font_family_display_1 :	$default_font_family !default;
$hero_font_size_display_1:40px!default;
$hero_font_weight_display_1:600!default;
$hero_text_transform_display_1:Uppercase!default;
$hero_color_display_1: #000000 !default;
$hero_line_height_display_1:48px!default;
$hero_letter_spacing_display_1:Normal!default;
$hero_mobile_font_size_display_1:35px!default;
$hero_mobile_line_height_display_1:	40px!default;
$hero_mobile_word_spacing_display_1: 1px !default;
$hero_mobile_letter_spacing_display_1 :Normal!default;

$hero_font_style_display_1: Normal !default;
$hero_text_decoration_display_1: none !default;
$hero_word_spacing_display_1: 1px !default;

$hero_font_family_display_2:$alternate_font_family_1 !default;
$hero_font_size_display_2 :	30px!default;
$hero_font_weight_display_2: 400!default;
$hero_text_transform_display_2:Normal!default;
$hero_line_height_display_2:35px!default;
$hero_letter_spacing_display_2 :0px!default;
$hero_color_display_2: #000000 !default;
$hero_mobile_font_size_display_2:18px!default;
$hero_mobile_line_height_display_2:23px!default;
$hero_mobile_word_spacing_display_2: 1px !default;
$hero_mobile_letter_spacing_display_2 :1px!default;
$hero_font_style_display_2: Normal !default;
$hero_text_decoration_display_2: none !default;
$hero_word_spacing_display_2: 1px !default;


$footer_phone_icon_color :$primary_color!default;
$footer_license_icon_color:$primary_color!default;

$steps_background:$secondary_color !default;
$steps_icon_color:$primary_color !default;
$steps_heading_color:$true_black !default;
$steps_description_color:$true_black !default;


$coupon_heading_font_family:$default_font_family !default;
$coupon_heading_font_size:28px !default;
$coupon_heading_font_weight:400 !default;
$coupon_heading_color:#000000 !default;
$coupon_heading_text_transform:	capitalize !default;
$coupon_heading_line_height:	1px !default;
$coupon_heading_text_decoration: none !default;
$coupon_heading_font_style:	normal !default;
$coupon_heading_letter_spacing:	1px !default;
$coupon_heading_word_spacing:	1px !default;
$coupon_sub_heading_font_family:	$default_font_family !default;
$coupon_sub_heading_font_size:	24px !default;
$coupon_sub_heading_font_weight:	300 !default;
$coupon_sub_heading_color:	#000000 !default;
$coupon_sub_heading_text_transform:	capitalize !default;
$coupon_sub_heading_line_height:	1 !default;
$coupon_sub_heading_text_decoration: none !default;
$coupon_sub_heading_font_style:	normal !default;
$coupon_sub_heading_letter_spacing:	1px !default;
$coupon_sub_heading_word_spacing:	1px !default;
$coupon_offer_text_font_family:	$default_font_family !default;
$coupon_offer_text_font_size:	36px !default;
$coupon_offer_text_font_weight:	700 !default;
$coupon_offer_text_color:	#000000 !default;
$coupon_offer_text_text_transform:	capitalize !default;
$coupon_offer_text_line_height:	36px !default;
$coupon_offer_text_text_decoration: none !default;
$coupon_offer_text_font_style:	normal !default;
$coupon_offer_text_letter_spacing:	1px !default;
$coupon_offer_text_word_spacing:	1px !default;
$coupon_expiry_text_font_family:	$default_font_family !default;
$coupon_expiry_text_font_size:	14px !default;
$coupon_expiry_text_font_weight:	300 !default;
$coupon_expiry_text_color:	#000 !default;
$coupon_expiry_text_line_height:	17px !default;
$coupon_expiry_text_text_decoration: none !default;
$coupon_expiry_text_font_style:	normal !default;
$coupon_expiry_text_letter_spacing:	1px !default;
$coupon_expiry_text_text_transform:	capitalize !default;
$coupon_expiry_text_word_spacing:	1px !default;
$coupon_disclaimer_text_font_family:	$default_font_family !default;
$coupon_disclaimer_text_font_size:	14px !default;
$coupon_disclaimer_text_font_weight:	300 !default;
$coupon_disclaimer_text_color:	#0000 !default;
$coupon_disclaimer_text_line_height:	17px !default;
$coupon_disclaimer_text_text_decoration: none !default;
$coupon_disclaimer_text_text_transform:	capitalize !default;
$coupon_disclaimer_text_font_style:	normal !default;
$coupon_disclaimer_text_letter_spacing:	1px !default;
$coupon_disclaimer_text_word_spacing:	1px !default;

$coupon_mobile_heading_font_size:18px !default;
$coupon_mobile_heading_line_height:	20px !default;
$coupon_mobile_heading_letter_spacing: 1px !default;
$coupon_mobile_heading_word_spacing: 1px !default;
 
$coupon_mobile_sub_heading_font_size:15px!default;
$coupon_mobile_sub_heading_line_height:	16px !default;
$coupon_mobile_sub_heading_letter_spacing: 1px !default;
$coupon_mobile_sub_heading_word_spacing: 1px !default;
 
$coupon_mobile_offer_text_font_size:28px !default;
$coupon_mobile_offer_text_line_height:	36px !default;
$coupon_mobile_offer_text_letter_spacing:1px !default;
$coupon_mobile_offer_text_word_spacing:	1px !default;
 
$coupon_mobile_expiry_text_font_size:12px !default;
$coupon_mobile_expiry_text_line_height:	15px !default;
$coupon_mobile_expiry_text_letter_spacing:1px !default;
$coupon_mobile_expiry_text_word_spacing:1px !default;
 
$coupon_mobile_disclaimer_text_font_size:12px !default;
$coupon_mobile_disclaimer_text_line_height:	15px !default;
$coupon_mobile_disclaimer_text_letter_spacing:1px !default;
$coupon_mobile_disclaimer_text_word_spacing:1px !default;

$blog_read_more_text_color:	#000000 !default;
$blog_read_more_text_color_hover: #000000 !default;
$thankyou_page_heading_color:	#f1f1f1 !default;
$thankyou_page_content_color:	#212121 !default;
$pagenotfound_display_1:	#000000 !default;
$pagenotfound_display_2:	#000000 !default;