$h1_alt_font_family : $default_font_family !default;
$h1_alt_font_size : 48px !default;
$h1_alt_font_weight : 700 !default;
$h1_alt_text_transform : capitalize !default;
$h1_alt_line_height : 53px !default;
$h1_alt_letter_spacing : normal !default;
$h1_alt_color :$true_white !default;
$h1_alt_mobile_font_size : 32px !default;
$h1_alt_mobile_line_height : 37px !default;

$h2_alt_font_family : $default_font_family !default;
$h2_alt_font_size : 36px !default;
$h2_alt_font_weight : 400 !default;
$h2_alt_text_transform : capitalize !default;
$h2_alt_line_height : 41px !default;
$h2_alt_letter_spacing :  normal !default;
$h2_alt_color :$true_white !default;
$h2_alt_mobile_font_size : 26px !default;
$h2_alt_mobile_line_height : 31px !default;

$h3_alt_font_family : $default_font_family !default;
$h3_alt_font_size : 28px !default;
$h3_alt_font_weight : 600 !default;
$h3_alt_text_transform : capitalize !default;
$h3_alt_line_height : 33px !default;
$h3_alt_letter_spacing :  normal !default;
$h3_alt_color :$true_white !default;
$h3_alt_mobile_font_size : 26px !default;
$h3_alt_mobile_font_weight : 700 !default;
$h3_alt_mobile_line_height : 31px !default;

$h4_alt_font_family : $default_font_family !default;
$h4_alt_font_size : 36px !default;
$h4_alt_font_weight : 700 !default;
$h4_alt_text_transform : capitalize !default;
$h4_alt_line_height : 41px !default;
$h4_alt_letter_spacing :  normal !default;
$h4_alt_color :$true_white !default;
$h4_alt_mobile_font_size : 26px !default;
$h4_alt_mobile_line_height : 31px !default;

$h5_alt_font_family : $default_font_family !default;
$h5_alt_font_size : 32px !default;
$h5_alt_font_weight : 400 !default;
$h5_alt_text_transform : capitalize !default;
$h5_alt_line_height : 37px !default;
$h5_alt_letter_spacing :  normal !default;
$h5_alt_color :$true_white !default;
$h5_alt_mobile_font_size : 22px !default;
$h5_alt_mobile_line_height : 27px !default;

$h6_alt_font_family : $default_font_family !default;
$h6_alt_font_size : 22px !default;
$h6_alt_font_weight : 700 !default;
$h6_alt_text_transform : capitalize !default;
$h6_alt_line_height : 27px !default;
$h6_alt_letter_spacing :  normal !default;
$h6_alt_color :$true_white !default;
$h6_alt_mobile_font_size : 22px !default;
$h6_alt_mobile_line_height : 27px !default;

$h7_alt_font_family : $default_font_family !default;
$h7_alt_font_size : 20px !default;
$h7_alt_font_weight : 400 !default;
$h7_alt_text_transform : uppercase !default;
$h7_alt_line_height : 25px !default;
$h7_alt_letter_spacing :  normal !default;
$h7_alt_color :$true_white !default;
$h7_alt_mobile_font_size : 20px !default;
$h7_alt_mobile_font_family : $default_font_family !default;
$h7_alt_mobile_line_height : 25px !default;

$h8_alt_font_family : $default_font_family !default;
$h8_alt_font_size : 16px !default;
$h8_alt_font_weight : 600 !default;
$h8_alt_text_transform : capitalize !default;
$h8_alt_line_height : 28px !default;
$h8_alt_letter_spacing :  normal !default;
$h8_alt_color :$true_white !default;
$h8_alt_mobile_font_size : 16px !default;
$h8_alt_mobile_font_weight : 600 !default;
$h8_alt_mobile_line_height : 21px !default;

$a_alt_font_family : $default_font_family !default;
$a_alt_font_size : 16px !default;
$a_alt_font_weight : 400 !default;
$a_alt_text_transform : inherit !default;
$a_alt_line_height : 30px !default;
$a_alt_letter_spacing :  normal !default;
$a_alt_text_decoration :  none !default;
$a_alt_color :$true_white !default;
$a_alt_mobile_font_size : 16px !default;
$a_alt_mobile_font_weight : 400 !default;
$a_alt_mobile_line_height : 30px !default;
$a_alt_hover_font_size : 16px !default;
$a_alt_hover_color : $true_white !default;
$a_alt_hover_font_weight : 400 !default;
$a_alt_hover_line_height : 30px !default;
$a_alt_hover_text_decoration :  none !default;

$li_alt_font_family : $default_font_family !default;
$li_alt_font_size : 16px !default;
$li_alt_font_weight : 400 !default;
$li_alt_text_transform : inherit !default;
$li_alt_line_height : 30px !default;
$li_alt_letter_spacing :  normal !default;
$li_alt_color :$secondary_color !default;
$li_alt_mobile_font_size : 48px !default;
$li_alt_mobile_font_weight : 700 !default;
$li_alt_mobile_line_height : 53px !default;

$strong_alt_font_family : $default_font_family !default;
$strong_alt_font_size : 16px !default;
$strong_alt_font_weight : 400 !default;
$strong_alt_text_transform : inherit !default;
$strong_alt_line_height : 30px !default;
$strong_alt_letter_spacing :  normal !default;
$strong_alt_color :$secondary_color !default;
$strong_alt_mobile_font_size : 48px !default;
$strong_alt_mobile_font_weight : 700 !default;
$strong_alt_mobile_line_height : 53px !default;

$em_alt_font_family : $default_font_family !default;
$em_alt_font_size : 48px !default;
$em_alt_font_weight : 700 !default;
$em_alt_text_transform : capitalize !default;
$em_alt_line_height : 53px !default;
$em_alt_letter_spacing :  normal !default;
$em_alt_color :$true_white !default;
$em_alt_mobile_font_size : 48px !default;
$em_alt_mobile_font_weight : 700 !default;
$em_alt_mobile_line_height : 53px !default;

$p_alt_font_family : $alternate_font_family_1 !default;
$p_alt_font_size : 16px !default;
$p_alt_font_weight : 400 !default;
$p_alt_text_transform : inherit !default;
$p_alt_line_height : 30px !default;
$p_alt_letter_spacing :  normal !default;
$p_alt_font_style :  normal !default;
$p_alt_word_spacing :  0px !default;
$p_alt_text_decoration :  none !default;
$p_alt_color :$true_white !default;
$p_alt_mobile_font_size : 16px !default;
$p_alt_mobile_font_weight : 400 !default;
$p_alt_mobile_line_height : 30px !default;