.tooltip-text {
    cursor: pointer;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
.tooltip-text .tooltips {
    position: absolute;
    width: 332px;
    background-color: $quaternary_color;
    z-index: 11;
    -webkit-box-shadow: 0 4px 10px rgb(0, 0, 0, 0.12);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    left: -55px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    top: 125%;
    cursor: default;
}

.tooltip-text:hover .tooltips {
    opacity: 1;
    visibility: visible;
}
.tooltip-text .tooltips:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $quaternary_color;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-left: -20px;
}