/* navgations styling */
.nav_container_desktop.nav_container_desktop_b {
       margin-top:-40px;
	#navbarSupportedContentDesktop {
		ul.navbar-nav {
            margin-right: -25px;
			& > li {
			    padding: 0em 47px 35px 0px;
			    &:last-child {
				    padding-right: 13px !important;
				}
                & > a {
                    font-size: 14px !important;
                    padding: 0 7px 0 0!important;
                }
			}
            & > li.dropdown {
                padding-right: 20px!important;
			    
			}
			li > ul li {
				background: $true_white;
				padding: 0px !important;
				
				&:hover {
					background: $navigation_sub_nav_hover_background ;
					&>a {
						background: $navigation_sub_nav_hover_background ;
						color: $navigation_sub_nav_hover_color ;
					}
				}
			}
		}
	}
}

/* navgations styling */

.tooltip-text {
    cursor: pointer;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
.tooltip-text .tooltips {
    position: absolute;
    width: 332px;
    background-color: $quaternary_color;
    z-index: 11;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 12%);
    box-shadow: 0 4px 10px rgb(0 0 0 / 12%);
    border-radius: 0px;
    left: -55px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    top: 125%;
    cursor: default;
}

.tooltip-text:hover .tooltips {
    opacity: 1;
    visibility: visible;
}
.tooltip-text .tooltips:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $quaternary_color;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-left: -20px;
}